<div style="display: flex;">
  <h1>KREIRANJE NARUDŽBE</h1>
  <button style="margin-left: 10px;" (click)="openDialog(1)" mat-raised-button color="primary">Šablon</button>
  <button style="margin-left: 10px;" (click)="openDialog(2)" mat-raised-button color="primary">Šablon2</button>
 
  <mat-form-field style="margin-left: 10px;">
    <mat-label>Ranije narudžbe</mat-label>
    <mat-select name="customerId" [(ngModel)]="orderTemplate" required>
      @for(order of orderCustomerList; track order.id){
      <mat-option value="{{order.id}}">{{order.id}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button (click)="getPreviousElements()" mat-icon-button color="primary" aria-label="print button" style="margin-left: 10px;">
    <mat-icon>search</mat-icon>
  </button>

</div>

<mat-grid-list gutterSize="15px" cols="3" rowHeight="80px">

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field class="full-width">
      <mat-label>Element</mat-label>
      <input matInput placeholder="Name" name="name" [(ngModel)]="element.name">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field class="full-width">
      <mat-label>Materijal</mat-label>
      <input matInput placeholder="Material" name="material" [(ngModel)]="element.material">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field class="full-width">
      <mat-label>Dužina</mat-label>
      <input #miInput matInput placeholder="Length" name="length" [(ngModel)]="element.length">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field class="full-width">
      <mat-label>Visina</mat-label>
      <input matInput placeholder="Height" name="height" [(ngModel)]="element.height">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field class="full-width">
      <mat-label>Širina</mat-label>
      <input matInput placeholder="Width" name="width" [(ngModel)]="element.width">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field class="full-width">
      <mat-label>Količina</mat-label>
      <input matInput placeholder="Quantity" name="quantity" [(ngModel)]="element.quantity">
    </mat-form-field>
  </mat-grid-tile>

  <!-- <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field class="full-width">
      <mat-label>Repetition</mat-label>
      <input matInput placeholder="Repetition" name="repetition" [(ngModel)]="repetition">
    </mat-form-field>
  </mat-grid-tile> -->

</mat-grid-list>


<div style="display: flex; justify-content: center;">
  <button (click)="addElement()" mat-raised-button extended color="primary" style="width: 80%;"
    aria-label="add new element to the list">
    <mat-icon>add</mat-icon>
    Dodaj u narudžbu
  </button>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top: 20px;">

  <ng-container matColumnDef="Num">
    <th mat-header-cell *matHeaderCellDef> Redni broj </th>
    <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Element </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="material">
    <th mat-header-cell *matHeaderCellDef> Materijal </th>
    <td mat-cell *matCellDef="let element"> {{element.material}} </td>
  </ng-container>

  <ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef> Dužina </th>
    <td mat-cell *matCellDef="let element"> {{element.length}} </td>
  </ng-container>

  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef> Visina </th>
    <td mat-cell *matCellDef="let element"> {{element.height}} </td>
  </ng-container>

  <ng-container matColumnDef="width">
    <th mat-header-cell *matHeaderCellDef> Širina </th>
    <td mat-cell *matCellDef="let element"> {{element.width}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Količina </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Izbriši </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="removeData(element)" mat-icon-button color="primary" aria-label="approve button">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div style="margin-top: 20px;">
  <button (click)="save()" mat-raised-button color="primary" aria-label="Save">
    <mat-icon>save</mat-icon>
    Spremi
  </button>

  <button (click)="cancel()" mat-raised-button color="primary" style="margin-left: 12px;" aria-label="remove data">
    <mat-icon>cancel</mat-icon>
    Odustani
  </button>
</div>