<h1>RADNI UČINAK</h1>

<mat-form-field>
  <mat-label>Pretraživanje</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>  
</mat-form-field>
<button (click)="print()" mat-icon-button color="primary" aria-label="print button" style="margin-left: 10px;">
  <mat-icon>print</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  @for (item of displayedColumns; track $index) {
  <ng-container matColumnDef="{{item}}">
    @if($index>1){
    <th mat-header-cell *matHeaderCellDef> {{item | date: 'dd.MM.yyyy'}} </th>
    }@else{
    <th mat-header-cell *matHeaderCellDef> {{item}} </th>
    }
    <td mat-cell *matCellDef="let element"> {{element[$index]}}</td>
  </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>