<h1>KLIJENTI I HISTORIJA KLIJENATA</h1>

<mat-form-field>
    <mat-label>Pretraživanje</mat-label>
    <input matInput (keyup)="applyFilter($event)"  #input>
  </mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let customer"> {{customer.id}} </td>
    </ng-container>

    <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef> Klijent </th>
        <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
    </ng-container>

    <ng-container matColumnDef="open">
        <th mat-header-cell *matHeaderCellDef> Nalog </th>
        <td mat-cell *matCellDef="let customer">
            <button (click)="openDialog(customer.id)" mat-icon-button color="primary" aria-label="open button">
                <mat-icon>menu</mat-icon>
            </button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>